{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Memory Lane{% endblock %}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Patrick+Hand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block head %}{% endblock %}
  </head>
  <body>
    {% if user.is_authenticated %}
    <nav class="navbar">
      <div class="logo">
        <a href="{% url 'home' %}"><h1>Memory Lane</h1></a>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'capsules' %}">My Albums</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
      </ul>
    </nav>
    {% endif %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
      <div class="footer-content">
        <p>
          &copy; {% now "Y" %} Memory Lane by Gnale Kourouma. All rights
          reserved. Follow me on:
          <a href="https://www.linkedin.com/in/gnalekourouma/" target="_blank">LinkedIn</a>,
          <a href="https://github.com/gkourouma" target="_blank">GitHub</a>,
          <a href="https://www.instagram.com" target="_blank">My Portfolio</a>
        </p>
      </div>
    </footer>
  </body>
</html>
