{% extends "base.html" %}
{% load static %}

{% block title %}Dear Future Me{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

<section class="overlay">
  <div class="ripped-paper">
    <div class="landing-content">
      <h1 class="animated-text">Dear Future Me</h1>
      <p class="tagline">"Making memories that last a lifetime."</p>
      <div class="buttons">
        <a href="{% url 'signup' %}" class="btn">Sign Up</a>
        <a href="{% url 'login' %}" class="btn">Log In</a>
      </div>
    </div>
  </div>
  <section class="how-it-works">
    <div class="steps-grid">
      
      <div class="step delay-1">
        <h3><br>Capture a Memory</h3>
        <p>Add photos, videos, or notes that matter. Make it personal, make it yours.</p>
      </div>
      
      <div class="step delay-2">
        <h3><br>Lock It Away</h3>
        <p>Seal your capsule with a date in mind. It stays hidden until the right moment.</p>
      </div>
      
      <div class="step delay-3">
        <h3><br>Open When Ready</h3>
        <p>When the time comes, open your capsule and rediscover the past you left behind.</p>
      </div>
  
    </div>
  </section>
  
</section>

{% endblock %}
