{% extends "base.html" %} {% load static %} {% block title %}Memory
Lane{%endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/search_users.css' %}" />
<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="search-results-container">
  <h2>Search Results for "{{ query }}"</h2>
  {% if users %}
  <div class="user-cards">
    {% for user in users %}
    <a href="{% url 'user_profile' user.username %}" class="user-card">
      {% if user.profile.profile_picture %}
      <img class="profile-pic" src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s photo"/>
      {% else %}
      <img class="profile-pic" src="{% static './media/9a3ff43544fd8b6338d4cd5fd0e49315.png' %}" alt="Default profile photo"/>
      {% endif %}
      <div class="username">{{ user.username }}</div>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p>No users found.</p>
  {% endif %}
</div>
{% endblock %}
