{% extends "base.html" %}
{% load static cloudinary %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/capsules.css' %}" />
{% endblock %}

{% block content %}
<main>
  <section class="capsule-page">
    <div class="header">
      <h1>
        {% if request.user == target_user %}
          {{ target_user.username }}’s Albums
        {% else %}
          My Albums
        {% endif %}
      </h1>

      {% if request.user == target_user %}
        <a href="{% url 'capsule_create' %}" class="btn">Add New Album</a>
      {% endif %}
    </div>

    <div class="capsule-grid">
      {% for capsule in capsules %}
        <div class="capsule-card {% if capsule.is_locked and not capsule.is_unlockable %}locked{% endif %}">
          <div class="polaroid-frame">
            {% if capsule.cover_image %}
            <img
            class="polaroid-img"
            src="{% cloudinary_url capsule.cover_image crop='fit' fetch_format='auto' quality='auto:best' dpr='auto' %}"
            alt="{{ capsule.title }} cover"
          />
        {% else %}
          <img
            class="polaroid-img"
            src="{% static 'media/blankpolaroid.png' %}"
            alt="Blank Polaroid"
          />
            {% endif %}
          </div>

          <div class="card-content">
            <h3>{{ capsule.title }}</h3>
            {% if capsule.is_locked and not capsule.is_unlockable %}
              <span class="lock-icon">
                🔒 Locked until {{ capsule.open_date|date:"F j, Y" }}
              </span>
            {% else %}
              <p class="description">{{ capsule.content|truncatechars:100 }}</p>
            {% endif %}

            <a href="{% url 'capsule_detail' capsule.id %}" class="btn">
              {% if capsule.is_locked and not capsule.is_unlockable %}
                Locked Album
              {% else %}
                Open Album
              {% endif %}
            </a>
          </div>
        </div>
      {% empty %}
        <p>No Albums yet. {% if request.user == target_user %}<a href="{% url 'capsule_create' %}">Create your first one</a>{% endif %}</p>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
