.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #2d2d2d;
}

.capsule-page {
  padding: 0 2rem 2rem;
  text-align: center;
}

.header .btn{
  background-color: #f3af67;
  color: #fff;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.capsule-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.capsule-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.capsule-card:hover {
  transform: scale(1.03) rotate(1deg);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}
  
.capsule-card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card-content h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  color: #5c4033;
}

.open-date {
  font-size: 0.95rem;
  color: #7a5c3e;
  margin-bottom: 0.5rem;
}

.lock-icon {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #c05c35;
}

.btn {
  display: inline-block;
  background-color: #f3af67;
  color: white;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.btn:hover {
  background-color: #e09e5c;
}

.locked {
  opacity: 0.85;
  filter: grayscale(10%);
}
